/* colors */
$primary_text: #4F759B;
$descriptions: rgba(79, 117, 155, 0.8);
$secondary_text: rgba(79, 117, 155, 0.6);
$special: #1c7c54;
/* /colors */

/* font */
$thin: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$big: 900;
$small: 10px;
$mid: 20px;
/* /font */