/* colors */
$primary_text: #325FA6;
$descriptions: rgba(50, 95, 166, 0.8);
$secondary_text: rgba(50, 95, 166, 0.6);
$special: #295396;
/* /colors */

/* font */
$thin: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$big: 900;
$small: 10px;
$mid: 20px;
/* /font */