/* colors */
/* /colors */
/* font */
/* /font */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #325FA6;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #688CD8;
}

.flex {
  display: flex;
}

html {
  scroll-behavior: smooth;
}

.compensa {
  margin: 0 -20px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  background-color: #fff;
}
nav .container {
  width: 90%;
  margin: 0 auto;
}
nav .container .logo .logo-content {
  height: 80px;
  align-items: center;
}
nav .container .logo .logo-content ul {
  width: 105px;
  overflow: hidden;
  transition: width 0.8s;
}
nav .container .logo .logo-content ul li {
  margin: 0 20px;
  font-size: 20px;
  font-weight: 500;
  color: #325FA6;
  transition: color 0.5s;
  cursor: pointer;
}
nav .container .logo .logo-content ul li:hover {
  color: rgba(50, 95, 166, 0.8);
}
nav .container .logo .logo-content ul li a {
  font-size: 20px;
  font-weight: 500;
  color: #325FA6;
  transition: color 0.5s;
}
nav .container .logo .logo-content ul li a:hover {
  color: rgba(50, 95, 166, 0.8);
}

.smartphone {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  background-color: #fff;
}
.smartphone .container {
  width: 90%;
  margin: 0 auto;
}
.smartphone .container .logo-smrt .logo-content-smrt {
  height: 80px;
  align-items: center;
}
.smartphone .container .logo-smrt .logo-content-smrt .smrt {
  width: 105px;
  overflow: hidden;
  transition: width 1s;
}
.smartphone .container .logo-smrt .logo-content-smrt .smrt.open {
  width: 100%;
}
.smartphone .container .logo-smrt .logo-content-smrt .smrt li {
  margin: 0 20px;
  font-size: 20px;
  font-weight: 500;
  color: #325FA6;
  transition: color 0.5s;
  cursor: pointer;
}
.smartphone .container .logo-smrt .logo-content-smrt .smrt li:hover {
  color: rgba(50, 95, 166, 0.8);
}
.smartphone .container .logo-smrt .logo-content-smrt .smrt li a {
  font-size: 20px;
  font-weight: 500;
  color: #325FA6;
  transition: color 0.5s;
}
.smartphone .container .logo-smrt .logo-content-smrt .smrt li a:hover {
  color: rgba(50, 95, 166, 0.8);
}
.smartphone .logo-content {
  height: 65px;
  align-items: center;
}

@media all and (max-width: 1200px) {
  nav {
    display: none;
  }

  .smartphone {
    display: flex;
  }
}
@media all and (max-width: 992px) {
  nav .container .logo .logo-content ul li a {
    font-size: 18px;
  }

  nav .container .logo .logo-content ul li {
    font-size: 18px;
  }

  nav .container .logo .logo-content ul li {
    margin: 0 10px;
  }
}
@media all and (max-width: 576px) {
  .smartphone .container .logo-smrt .logo-content-smrt .smrt li {
    font-size: 12px;
    margin: 0 6px;
  }

  .smartphone .container .logo-smrt .logo-content-smrt .smrt li a {
    font-size: 12px;
  }

  .smartphone .container .logo-smrt .logo-content-smrt .smrt {
    width: 60px;
  }

  nav .container .logo .logo-content ul li {
    margin: 0 6px;
  }
}
#home {
  width: 100vw;
  height: calc(100vh - 80px);
  margin-top: 80px;
  position: fixed;
  top: 0;
  background: linear-gradient(to right bottom, #325fa6, #406ab2, #4e75bf, #5b80cb, #688cd8);
}
#home .container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  align-items: center;
}
#home .container .title {
  opacity: 0;
}
#home .container .title h1 {
  font-size: 100px;
  color: #fff;
}
#home .container .title h3 {
  font-size: 70px;
  color: rgba(255, 255, 255, 0.5);
}

@media all and (max-width: 576px) {
  #home .container .title h1 {
    font-size: 80px;
  }

  #home .container .title h3 {
    font-size: 60px;
  }
}
#about {
  width: 100vw;
  height: 100vh;
  align-items: center;
  margin-top: 100vh;
  background-color: #fff;
  position: relative;
  z-index: 98;
}
#about .container {
  width: 80%;
  height: 60%;
  margin: 0 auto;
  align-items: center;
}
#about .container .about_title {
  width: 100%;
  align-items: center;
  opacity: 0;
}
#about .container .about_title .row {
  flex-wrap: wrap;
  width: 100%;
}
#about .container .about_title .row .w50 {
  width: 50%;
}
#about .container .about_title .row .w50 h1 {
  font-size: 60px;
  color: #325FA6;
}
#about .container .about_title .row .w50 h3 {
  font-size: 45px;
  color: rgba(50, 95, 166, 0.6);
}
#about .container .about_title .row .w50 p {
  margin-top: 30px;
}
#about .container .about_title .row .w50 img {
  height: 800px;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@media all and (max-width: 1200px) {
  #about .container .about_title .row .w50 h1 {
    font-size: 40px;
  }

  #about .container .about_title .row .w50 h3 {
    font-size: 30px;
  }

  #about .container .about_title .row .w50 p {
    font-size: 16px;
  }
}
@media all and (max-width: 1024px) {
  #about .container .about_title .row .w50 img {
    width: 100%;
    height: auto;
  }

  #about {
    height: auto;
    padding-bottom: 60px;
  }

  #about .container {
    width: 90%;
  }
}
@media all and (max-width: 576px) {
  #about .container .about_title .row .w50 {
    width: 100%;
    margin: 15px 0;
  }

  #about .container {
    width: 90%;
  }

  #about .container .about_title .row .w50 p {
    margin-top: 15px;
  }
}
#progetti {
  padding: 50px 0;
  background-color: #fff;
  position: relative;
  z-index: 98;
}
#progetti .container {
  width: 70%;
  margin: 0 auto;
}
#progetti .container .progetti_title {
  margin-bottom: 30px;
  opacity: 0;
}
#progetti .container .progetti_title h1 {
  font-size: 60px;
  color: #325FA6;
}
#progetti .container .progetti_title h3 {
  font-size: 45px;
  color: rgba(50, 95, 166, 0.6);
}
#progetti .container .row {
  flex-wrap: wrap;
  width: 100%;
  opacity: 0;
}
#progetti .container .row .card {
  width: calc(50% - 40px);
  margin: 20px;
}
#progetti .container .row .card .card-img {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  height: 500px;
  justify-content: center;
  overflow: hidden;
  border-radius: 3px;
}
#progetti .container .row .card .card-img img {
  height: 100%;
  transition: transform 0.5s;
}
#progetti .container .row .card .card-img img:hover {
  transform: scale(1.1);
}
#progetti .container .row .card .card-desc {
  width: 100%;
  height: 150px;
  padding: 20px;
  text-align: center;
}
#progetti .container .row .card .card-desc h3 {
  font-size: 30px;
  color: #325FA6;
  margin-bottom: 15px;
}
#progetti .container .row .card .card-desc p {
  font-size: 18px;
  color: rgba(50, 95, 166, 0.8);
}

@media all and (max-width: 1200px) {
  #progetti .container {
    width: 90%;
  }

  #progetti .container .row {
    margin: 0 auto;
  }

  #progetti .container .row .card {
    width: calc(50% - 20px);
    margin: 30px 10px;
  }

  .compensa {
    margin: 0 -20px;
  }
}
@media all and (max-width: 992px) {
  #progetti .container .row .card {
    width: 100%;
    margin: 30px 0;
  }

  #progetti .container .progetti_title h1 {
    font-size: 40px;
  }

  #progetti .container .progetti_title h3 {
    font-size: 30px;
  }

  #progetti .container .row {
    width: 90%;
  }

  #progetti .container .row .card .card-desc h3 {
    font-size: 23px;
  }

  #progetti .container .row .card .card-desc p {
    font-size: 16px;
  }
}
@media all and (max-width: 576px) {
  #progetti {
    padding: 50px 0;
  }
}
#skills {
  padding: 50px 0;
  background-color: #fff;
  position: relative;
  z-index: 98;
}
#skills .container {
  width: 80%;
  margin: 0 auto;
  opacity: 0;
}
#skills .container .skills_title {
  margin-bottom: 30px;
}
#skills .container .skills_title h1 {
  font-size: 60px;
  color: #325FA6;
}
#skills .container .row {
  margin: 0 -20px;
}
#skills .container .row .experiences {
  width: calc(50% - 40px);
  margin: 0 20px;
}
#skills .container .row .experiences ul li {
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#skills .container .row .experiences ul li p {
  margin: 10px 0;
}
#skills .container .row .experiences ul li p.data {
  color: rgba(50, 95, 166, 0.6);
  font-size: 25px;
}
#skills .container .row .experiences ul li p.azienda {
  color: #325FA6;
  font-size: 23px;
}
#skills .container .row .experiences ul li p.info {
  color: rgba(50, 95, 166, 0.8);
  font-size: 20px;
  line-height: 35px;
}
#skills .container .row .skills {
  width: calc(50% - 40px);
  margin: 0 20px;
  align-items: center;
}
#skills .container .row .skills img {
  border-radius: 5px;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@media all and (max-width: 1200px) {
  #skills .container {
    width: 90%;
  }

  #skills .container .row .experiences {
    width: 100%;
  }

  #skills .container .row .skills {
    width: 100%;
  }

  #skills .container .row {
    flex-wrap: wrap;
  }
}
@media all and (max-width: 992px) {
  #skills .container .skills_title h1 {
    font-size: 40px;
  }
}
@media all and (max-width: 576px) {
  #skills .container .row .experiences ul li p.info,
#skills .container .row .experiences ul li p.azienda,
#skills .container .row .experiences ul li p.data {
    font-size: 16px;
    line-height: 22px;
  }

  #skills {
    padding: 0;
  }

  #skills .container .row .skills {
    padding-bottom: 60px;
  }
}
#contatti {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #fff;
  position: relative;
  z-index: 98;
}
#contatti .container {
  width: 80%;
  margin: 0 auto;
}
#contatti .container .contatti_text {
  opacity: 0;
}
#contatti .container .contatti_text h1 {
  font-size: 60px;
  color: #325FA6;
}
#contatti .container .contatti_text h3 {
  font-size: 45px;
  color: rgba(50, 95, 166, 0.6);
  line-height: 60px;
  transition: color 0.4s;
}
#contatti .container .contatti_text h3.mail {
  display: inline-block;
}
#contatti .container .contatti_text h3.mail:hover {
  color: #325FA6;
}
#contatti .container .others {
  opacity: 0;
  margin: 50px 0;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}
#contatti .container .others p {
  color: #325FA6;
  font-size: 20px;
}
#contatti .container .others ul li {
  margin: 0 10px;
  display: flex;
}
#contatti .container .others ul li a {
  color: rgba(50, 95, 166, 0.8);
  font-size: 20px;
  transition: color 0.4s;
}
#contatti .container .others ul li a.linkedin:hover {
  color: #0e76a8;
}
#contatti .container .others ul li a.instagram:hover {
  color: #fb3958;
}
#contatti .container .others ul li a.facebook:hover {
  color: #3b5998;
}
#contatti .container .others ul li a.spotify:hover {
  color: #1DB954;
}

@media all and (max-width: 1200px) {
  #contatti .container {
    width: 90%;
  }

  #contatti .container .others {
    width: 80%;
  }
}
@media all and (max-width: 992px) {
  #contatti .container .contatti_text h1 {
    font-size: 40px;
  }

  #contatti .container .contatti_text h3 {
    font-size: 30px;
    line-height: 40px;
  }

  #contatti .container .others p {
    font-size: 15px;
  }

  #contatti .container .others ul li a {
    font-size: 15px;
  }
}
@media all and (max-width: 576px) {
  #contatti {
    padding-bottom: 20px;
    padding-top: 50px;
  }

  #contatti .container .contatti_text h1 {
    font-size: 40px;
  }

  #contatti .container .contatti_text h3 {
    font-size: 20px;
    line-height: 28px;
  }

  #contatti .container .others p {
    font-size: 9px;
  }

  #contatti .container .others ul li a {
    font-size: 9px;
  }

  #contatti .container .others {
    width: 100%;
  }
}
