#contatti {
    padding-top: 150px;
    padding-bottom: 50px;
    .container {
        width: 80%;
        margin: 0 auto;
        .contatti_text {
            opacity: 0;
            h1 {
                @include title;
            }
            h3 {
                @include subtitle;
                transition: color 0.4s;
                &.mail {
                    display: inline-block;
                }
                &.mail:hover {
                    color: $primary_text;
                }
            }
        }
        .others {
            opacity: 0;
            margin: 30px 0;
            width: 50%;
            justify-content: space-between;
            align-items: center;
            p {
                color: $primary_text;
                font-size: 20px;
            }
            ul {
                li {
                    margin: 0 10px;
                    a {
                        color: $descriptions;
                        font-size: 20px;
                        transition: color 0.4s;
                        &.linkedin:hover {
                            color: #0e76a8;
                        }
                        &.instagram:hover {
                            color: #fb3958;
                        }
                        &.facebook:hover {
                            color: #3b5998;
                        }
                        &.spotify:hover {
                            color: #1DB954;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 1200px) {
    #contatti .container {
        width: 90%;
    }
}

@media all and (max-width: 992px) {
    #contatti .container .contatti_text h1 {
        font-size: 40px;
    }

    #contatti .container .others {
        width: 100%;
    }

    #contatti .container .contatti_text h3 {
        font-size: 30px;
    }

    #contatti .container .others p {
        font-size: 15px;
    }

    #contatti .container .others ul li a {
        font-size: 15px;
    }

}

/* @media all and (max-width: 576px) {
    #contatti .container .contatti_text h1 {
        font-size: 30px;
    }

    #contatti .container .contatti_text h3 {
        font-size: 25px;
    }

    #contatti .container .others p {
        font-size: 10px;
    }

    #contatti .container .others ul li a {
        font-size: 10px;
    }

} */

@media all and (max-width: 576px) {
    #contatti .container .contatti_text h1 {
        font-size: 40px;
    }

    #contatti .container .contatti_text h3 {
        font-size: 20px;
    }

    #contatti .container .others p {
        font-size: 8px;
    }

    #contatti .container .others ul li a {
        font-size: 8px;
    }

}