#home {
    width: 100vw;
    height: calc(100vh - 80px);
    margin-top: 80px;
    position: fixed;
    top: 0;
    background: linear-gradient(to right bottom, #325fa6, #406ab2, #4e75bf, #5b80cb, #688cd8);    .container {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        align-items: center;
        .title {
            opacity: 0;
            h1 {
                font-size: 100px;
                color: #fff;
            }
            h3 {
                font-size: 70px;
                color: rgba(256, 256, 256, 0.5);
            }
        }
    }
}

@media all and (max-width: 1200px) {
}

@media all and (max-width: 992px) {
    #home {
        height: 100vh;
    }
    
    #home .container .title h1 {
        font-size: 80px;
    }

    #home .container .title h3 {
        font-size: 50px;
    }

    #home .container {
        align-items: baseline;
    }
}

@media all and (max-width: 576px) {
    #home .container .title h1 {
        font-size: 80px;
    }

    #home .container .title h3 {
        font-size: 60px;
    }
}

