#home {
    width: 100vw;
    height: calc(100vh - 80px);
    margin-top: 80px;
    nav {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        width: 100%;
        background-color: #fff;
        .container {
            width: 90%;
            margin: 0 auto;
            .logo {
                .logo-content {
                    height: 80px;
                    align-items: center;
                    ul {
                        width: 105px;
                        overflow: hidden;
                        transition: width 0.8s;
                        li {
                            margin: 0 20px;
                            font-size: $mid;
                            font-weight: $medium;
                            color: $primary_text;
                            transition: color 0.5s;
                            &:hover {
                                color: $descriptions;
                            }
                            a {
                                font-size: $mid;
                                font-weight: $medium;
                                color: $primary_text;
                                transition: color 0.5s;
                                &:hover {
                                    color: $descriptions;
                                }
                            }
                        }
                    }
                }
            }    
        }
    }
    .smartphone {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        width: 100%;
        background-color: #fff;
        .container {
            width: 90%;
            margin: 0 auto;
            .logo-smrt {
                .logo-content-smrt {
                    height: 80px;
                    align-items: center;
                    .smrt {
                        width: 105px;
                        overflow: hidden;
                        transition: width 1s;
                        &.open {
                            width: 100%;
                        }
                        li {
                            margin: 0 20px;
                            font-size: $mid;
                            font-weight: $medium;
                            color: $primary_text;
                            transition: color 0.5s;
                            &:hover {
                                color: $descriptions;
                            }
                            a {
                                font-size: $mid;
                                font-weight: $medium;
                                color: $primary_text;
                                transition: color 0.5s;
                                &:hover {
                                    color: $descriptions;
                                }
                            }
                        }
                    }
                }
            }
        }
        .logo-content {
            height: 65px;
            align-items: center;
        }
    }
    .container {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        align-items: center;
        .title {
            opacity: 0;
            h1 {
                font-size: 100px;
                color: $primary_text;
            }
            h3 {
                font-size: 70px;
                color: $secondary_text;
            }
        }
    }
}

@media all and (max-width: 1200px) {
    nav {
        display: none;
    }

    #home .smartphone {
        display: flex;
    }
    
}

@media all and (max-width: 992px) {
    #home .container .title h1 {
        font-size: 70px;
    }

    #home .container .title h3 {
        font-size: 30px;
    }

    #home nav .container .logo .logo-content ul li a {
        font-size: 18px;
    }

    #home nav .container .logo .logo-content ul li {
        font-size: 18px;
    }

    #home nav .container .logo .logo-content ul li {
        margin: 0 10px;
    }
}

@media all and (max-width: 576px) {
    #home .smartphone .container .logo-smrt .logo-content-smrt .smrt li {
        font-size: 12px;
        margin: 0 6px;
    }

    #home .smartphone .container .logo-smrt .logo-content-smrt .smrt li a {
        font-size: 12px;
    }

    #home .smartphone .container .logo-smrt .logo-content-smrt .smrt {
        width: 60px;
    }

    #home nav .container .logo .logo-content ul li {
        margin: 0 6px;
    }
}

